*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	font-family: "Roboto", sans-serif;
	color: #333;
}
main {
	width: 100%;
	overflow-x: clip;
}
.heading {
	font-weight: lighter;
	font-size: 3rem;
	margin: 1em 0 0.7em 0;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.nav {
	position: sticky;
	top: 0;
	width: 100vw;
	background-color: #fff;
	z-index: 100;
	&__container {
		position: relative;
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		padding: 1em;
	}
	&__wrapper {
		display: flex;
		max-width: 800px;
		padding: 0.5em;
		align-items: center;
		z-index: 1;
	}
	&__header {
		margin-left: 0.2em;
		font-weight: normal;
		color: #000;
	}
	&__header,
	.fa-tree {
		font-size: 2.5rem;
	}

	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 60px;
		height: 60px;
		margin: 1em 0.5em;
		padding: 1em;
		justify-self: end;
		background-color: transparent;
		border: none;
		transition: width 0.3s;
		z-index: 1;
		&__bar {
			position: relative;
			width: 50px;
			&::after,
			&::before {
				content: "";
				position: absolute;
				right: 0;
			}

			&::before {
				top: 15px;
				width: 30px;
			}
			&::after {
				top: 30px;
				width: 15px;
			}
		}

		&__bar,
		&__bar::before,
		&__bar::after {
			height: 4px;
			background-color: #000;
			border-radius: 10px;
			transition: width 0.3s;
		}
		&:hover,
		&:focus {
			cursor: pointer;
		}
	}
	.hamburger--open {
		.hamburger__bar::before,
		.hamburger__bar::after {
			width: 50px;
		}
	}
	&__items {
		position: absolute;
		top: 0;
		transform: translateX(100vw);
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		transition: transform 0.3s;
	}
	.nav__items--open {
		transform: translateX(0);
	}
	&__item {
		position: relative;
		padding: 0.5em;
		margin-bottom: 0.5em;
		font-size: 2rem;
		font-weight: lighter;
		color: black;
		text-decoration: none;
		transition: color 0.3s;
		&:hover,
		&:focus {
			color: #53c98c;
		}
	}
}
.header {
	position: relative;
	min-height: 180px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: url("../../dist/img/jungle-phone.jpeg");
	background-size: cover;
	background-position: center;
	&__container {
		padding: 0.5em;
		z-index: 2;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
	}
	&__heading {
		font-size: 1.5rem;
		font-weight: lighter;
	}
	&__text {
		font-size: 1.8rem;
		font-weight: bold;
	}
	&__heading,
	&__text {
		color: white;
		padding-left: 20px;
	}
}

.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	img {
		width: 250px;
		object-fit: cover;
		margin-bottom: 2em;
	}
	.about__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2em;
		padding-bottom: 2em;
		h3 {
			font-size: 1.8rem;
			margin-bottom: 0.5em;
		}
		p {
			max-width: 86%;
			font-size: 1.3rem;
			font-weight: lighter;
			line-height: 20px;
			text-align: center;
		}
	}
}
.ad {
	position: relative;
	min-height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../../dist/img/girl-phone.jpeg");
	background-size: cover;
	background-position: center;
	z-index: 0;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&__heading {
		font-size: 1.6rem;
		font-weight: normal;
		padding: 1.5em 2em;
		border: 1px solid white;
		color: #fff;
		z-index: 2;
	}
}
.offer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.heading {
		margin-bottom: 0em;
	}
	&__text {
		font-size: 1.6rem;
		margin: 1.5em;
		text-align: center;
	}
	.card {
		width: 260px;
		height: 345px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
		margin: 2em 0;
		border-radius: 10px;
		box-shadow: 0px 0px 7px 1px rgba(159, 159, 159, 1);
		&__heading {
			font-size: 2.5rem;
			font-weight: lighter;
			margin-bottom: 0.5em;
		}
		&__price {
			position: relative;
			font-size: 3.5rem;
			margin-bottom: 0.2em;
		}
		&__benefits {
			margin: 0.5em 0;
		}
		&__container {
			position: relative;
			display: flex;
			align-items: center;
			.checkmark-icon,
			.remove-icon {
				position: relative;
				bottom: 5px;
				left: 0;
				font-size: 1.5rem;
				margin-right: 0.5em;
			}
			.checkmark-icon {
				color: green;
			}
			.remove-icon {
				color: rgb(132, 132, 132);
			}
		}
		&__benefit {
			font-size: 1.4rem;
			font-weight: lighter;
			list-style-type: none;
			margin-bottom: 1em;

			&:last-child {
				margin-bottom: 1em;
			}
			&--disable {
				color: rgb(132, 132, 132);
			}
		}

		&__submit-btn {
			position: relative;
			width: 80%;
			height: 35px;
			margin-top: 1em;
			background-color: white;
			border-radius: 8px;
			border: none;
			font-weight: normal;
			font-size: 1.4rem;
			box-shadow: 0px 0px 7px 1px rgba(159, 159, 159, 1);
			overflow: hidden;
			&::before {
				content: "";
				position: absolute;
				width: 100px;
				height: 20px;
				transform: rotate(-75deg);
				right: 100%;
				background-color: rgba(108, 108, 108, 0.182);
				transition: right 0.75s;
			}
			&:hover,
			&:focus {
				color: #38eb4a;
				&::before {
					right: -100%;
				}
			}
		}
	}

	.card--middle {
		.card__submit-btn {
			background-color: #38eb4a;
			box-shadow: 0px 0px 7px 1px #38eb4a;
			transition: 0.3s color;
			&:hover {
				color: white;
			}
		}
	}
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ebebeb;
	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 1em;
		padding: 2em;
	}
	&__heading {
		margin-left: 0.2em;
	}
	&__heading,
	.fa-tree {
		font-size: 2.5rem;
	}
	&__items {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-content: center;
		padding: 0 3em;
		margin-bottom: 2em;
	}
	.items {
		justify-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__heading {
			font-size: 1.4rem;
			text-align: center;
			margin-bottom: 0.5em;
		}
		&:nth-child(2) {
			margin: 0 1.5em;
		}
		&__item {
			font-size: 1.2rem;
			text-align: center;
			list-style-type: none;
			font-weight: lighter;
			padding: 0.5em;

			a {
				text-decoration: none;
				color: black;
				transition: color 0.3s;
				&:hover,
				&:focus {
					color: #53c98c;
				}
			}
		}
	}
	&__content {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid black;
		padding: 2em;
		margin-top: 1em;
	}
	&__text {
		font-size: 1.4rem;
		font-weight: lighter;
	}
}

// Media Queries
@import "./media/_small.scss";
@import "./media/_medium.scss";
@import "./media/_large.scss";
